/**
 * App Window
 */
@define-color bg_color #3f3e39;
@define-color window_bg @bg_color;
@define-color window_border_color @bg_color;
@define-color prefs_backgroud #999;

/**
 * Input
 */
@define-color selected_bg_color #327032;
@define-color selected_fg_color #d3f2d3;
@define-color input_color #ddd;
@define-color caret_color darker(@input_color);

/**
 * Result items
 */
@define-color item_name #ddd;
@define-color item_text #999;
@define-color item_box_selected #327032;
@define-color item_text_selected #bdf0bd;
@define-color item_name_selected #eee;
@define-color item_shortcut_color #777;
@define-color item_shortcut_shadow darker(@bg_color);
@define-color item_shortcut_color_sel #a2f5a2;
@define-color item_shortcut_shadow_sel darker(@item_box_selected);

.app {
    background-color: alpha (@window_bg, 0.85);
    border-width: 0px;
    box-shadow: 0px 0px 6px rgba(63, 62, 57, 0.8);
    margin: 0px 1px;
    border-radius: 35px 0px;
}

.input {
    color: @input_color;
}

.result-box {
    margin-top: -3px;
    margin-bottom: -10px;
}

/**
 * Selected text in input
 */
.input *:selected,
.input *:focus,
*:selected:focus {
    background-color: alpha (@selected_bg_color, 0.9);
    color: @selected_fg_color;
}

.item-text {
    color: @item_text;
}
.item-name {
    color: @item_name;
}

.selected.item-box {
    background-color: alpha (@item_box_selected, 0.6);
    border-width: 0px;
}
.item-frame:last-child > .selected.item-box {
    /*border-bottom-left-radius: 0px;*/
    border-bottom-right-radius: 35px;
}
.selected.item-box .item-text {
    color: @item_text_selected;
}
.selected.item-box .item-name { 
    color: @item_name_selected;
}
.item-shortcut {
    color: @item_shortcut_color;
    text-shadow: 1px 1px 1px @item_shortcut_shadow;
}
.selected.item-box .item-shortcut {
    color: @item_shortcut_color_sel;
    text-shadow: 1px 1px 1px @item_shortcut_shadow_sel;
}

.prefs-btn {
    opacity: 0.8;
}
.prefs-btn * {
    box-shadow: none;
}
.prefs-btn:hover {
    background-color: alpha (@prefs_backgroud, 0.8);
}

.no-window-shadow {
    margin: -20px;
}
